<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   
    <div id="wrapper">
       
    </div>

    
 
    <!--이 부분을 컴포넌트라고함-->  <!--id에 이름을 주는 행위를 객체컴포넌트화 한다고 한다-->
    <script src="../resources/js/index.js"></script> <!--이름이 있는것을 컴포넌트라고한다 즉 컴포넌트는 객체이다-->
    <script>
        app.init()
        
    </script>
    
</body>
</html>