<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.CategoryMapper">

    <insert id="insertCategory" parameterType="com.bitcamp.web.domain.CategoryDTO">
        INSERT INTO CATEGORIES(CATEGORY_ID,CATEGORY_NAME,DESCRIPTION) VALUES(#{categoryId},#{categoryName},#{description});
    </insert>

    <select id="selectCategories" parameterType="com.bitcamp.web.domain.CategoryDTO"
     resultType="com.bitcamp.web.domain.CategoryDTO">
        select * from categories
    </select>

    <select id="selectCategoriesByOption" parameterType="com.bitcamp.web.domain.CategoryDTO"
     resultType="com.bitcamp.web.domain.CategoryDTO">
        select * from categories where category_name = #{categoryName}
    </select>

    <select id="selectCategoryByCategoryId" parameterType="string"
     resultType="com.bitcamp.web.domain.CategoryDTO">
        select * from categories where category_id = #{value}
    </select>

    <update id="updateCategory" parameterType="com.bitcamp.web.domain.CategoryDTO">
        update categories set
            category_name = #{categoryName},
            description = #{description}
        where category_id = #{categoryId}
    </update>

    <delete id="deleteCategory" parameterType="com.bitcamp.web.domain.CategoryDTO">
        delete from categories where category_id = #{categoryId}
    </delete>

</mapper>