<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.CustomerMapper">

    <insert id="insertCustomer" parameterType="com.bitcamp.web.domain.CustomerDTO">
        INSERT INTO CUSTOMERS VALUES(
            #{customer_Id},
            #{customer_Name},
            #{password},
            #{ssn},
            #{phone},
            #{city},
            #{address},
            #{postalcode},
            #{photo}
        )
    </insert>

    <select id="login" resultType="com.bitcamp.web.domain.CustomerDTO" parameterType="String">
        SELECT * FROM CUSTOMERS WHERE CUSTOMER_ID LIKE #{customer_Id} and PASSWORD LIKE #{password}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM CUSTOMERS
    </select>

    <select id="selectCustomers" resultType="com.bitcamp.web.domain.CustomerDTO">
        SELECT * FROM CUSTOMERS
    </select>

    <select id="selectCustomersByOption" parameterType="string" resultType="com.bitcamp.web.domain.CustomerDTO">
        SELECT * FROM CUSTOMERS WHERE CUSTOMER_NAME = #{customer_Name}
    </select>

    <select id="selectCustomerByCustomerId" parameterType="string" resultType="com.bitcamp.web.domain.CustomerDTO">
        SELECT * FROM CUSTOMERS WHERE CUSTOMER_ID = #{customer_Id}
    </select>

    <update id="updateCustomer" parameterType="com.bitcamp.web.domain.CustomerDTO">
        UPDATE CUSTOMERS SET
            CUSTOMER_NAME = #{customer_Name},
            PASSWORD = #{password},
            SSN = #{ssn},
            PHONE = #{phone},
            CITY = #{city},
            ADDRESS = #{address},
            POSTALCODE = #{postalcode},
            PHOTO = #{photo}
        WHERE CUSTOMER_ID = #{customer_Id}
    </update>

    <delete id="deleteCustomer" parameterType="string">
        DELETE FROM CUSTOMERS WHERE CUSTOMER_ID = #{customer_Id}
    </delete>

</mapper>