<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.EmployeeMapper">

    <insert id="insertEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
        INSERT INTO EMPLOYEES VALUES(
            #{employee_Id},
            #{manager},
            #{name},
            #{birthDate},
            #{photo},
            #{notes}
        )
    </insert>

    <select id="selectEmployees" resultType="com.bitcamp.web.domain.EmployeeDTO">
        SELECT * FROM EMPLOYEES
    </select>

    <select id="selectEmployeesByOption" parameterType="string" resultType="com.bitcamp.web.domain.EmployeeDTO">
        SELECT * FROM EMPLOYEES WHERE MANAGER = #{employee_Manager}
    </select>

    <select id="selectEmployeeByEmployeeId" parameterType="string" resultType="com.bitcamp.web.domain.EmployeeDTO">
        SELECT * FROM EMPLOYEES WHERE EMPLOYEE_ID = #{employee_Id}
    </select>

    <update id="updateEmployee" parameterType="com.bitcamp.web.domain.EmployeeDTO">
        UPDATE EMPLOYEES SET
            manager = #{manager},
            name = #{name},
            birth_date = #{birthDate},
            photo = #{photo},
            notes = #{notes}
        WHERE EMPLOYEE_ID = #{employee_Id}
    </update>

    <delete id="deleteEmployee" parameterType="string">
        DELETE FROM EMPLOYEES WHERE EMPLOYEE_ID = #{employee_Id}
    </delete>

</mapper>