<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="com.bitcamp.web.domain.OrderDTO">
        INSERT INTO ORDERS VALUES(
            #{order_Id},
            #{customer_Id},
            #{employee_Id},
            #{order_Date},
            #{shipper_Id}
        )
    </insert>

    <select id="selectOrders" resultType="com.bitcamp.web.domain.OrderDTO">
        SELECT * FROM ORDERS
    </select>

    <select id="selectOrdersByOption" parameterType="string" resultType="com.bitcamp.web.domain.OrderDTO">
        SELECT * FROM ORDERS WHERE ORDER_DATE = #{orde_Date}
    </select>

    <select id="selectOrderByOrderId" parameterType="string" resultType="com.bitcamp.web.domain.OrderDTO">
        SELECT * FROM ORDERS WHERE ORDER_ID = #{order_Id}
    </select>

    <update id="updateOrder" parameterType="com.bitcamp.web.domain.OrderDTO">
        UPDATE ORDERS SET
            ORDER_DATE = #{order_Date},
        WHERE ORDER_ID = #{order_id}
    </update>

    <delete id="deleteOrder" parameterType="string">
        DELETE FROM ORDERS WHERE ORDER_ID = #{order_Id}
    </delete>

</mapper>