<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.ProductMapper">

    <insert id="insertProduct" parameterType="com.bitcamp.web.domain.ProductDTO">
        INSERT INTO PRODUCTS VALUES(
            #{product_Id},
            #{Product_Name},
            #{supplier_Id},
            #{category_Id},
            #{unit},
            #{price},
            #{photo}
        )
    </insert>

    <select id="selectProducts" resultType="com.bitcamp.web.domain.ProductDTO">
        SELECT * FROM PRODUCTS
    </select>

    <select id="selectProductsByOption" parameterType="string" resultType="com.bitcamp.web.domain.ProductDTO">
        SELECT * FROM PRODUCTS WHERE PRODUCT_NAME = #{product_Name}
    </select>

    <select id="selectProductByProductId" parameterType="string" resultType="com.bitcamp.web.domain.ProductDTO">
        SELECT * FROM PRODUCTS WHERE PRODUCT_ID = #{product_Id}
    </select>

    <update id="updateProduct" parameterType="com.bitcamp.web.domain.ProductDTO">
        UPDATE PRODUCTS SET
            PRODUCT_NAME = #{Product_Name},
            UNIT = #{unit},
            PRICE = #{price},
            PHOTO = #{photo}
        WHERE PRODUCT_ID = #{product_Id}
    </update>

    <delete id="deleteProduct" parameterType="string">
        DELETE FROM PRODUCTS WHERE PRODUCT_ID = #{product_Id}
    </delete>

</mapper>