<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.ShipperMapper">

    <insert id="insertShipper" parameterType="com.bitcamp.web.domain.ShipperDTO">
        INSERT INTO SHIPPERS VALUES(
            #{shipper_Id},
            #{shipper_Name},
            #{phone}
        )
    </insert>

    <select id="selectShippers" resultType="com.bitcamp.web.domain.ShipperDTO">
        SELECT * FROM SHIPPERS
    </select>

    <select id="selectShippersByOption" parameterType="string" resultType="com.bitcamp.web.domain.ShipperDTO">
        SELECT * FROM SHIPPERS WHERE SHIPPER_NAME = #{shipper_Name}
    </select>

    <select id="selectShipperByShipperId" parameterType="string" resultType="com.bitcamp.web.domain.ShipperDTO">
        SELECT * FROM SHIPPERS WHERE SHIPPER_ID = #{shipper_Id}
    </select>

    <update id="updateShipper" parameterType="com.bitcamp.web.domain.ShipperDTO">
        UPDATE SHIPPERS SET
            SHIPPER_NAME = #{shipper_Name},
            PHONE = #{phone}
        WHERE SHIPPER_ID = #{shipper_Id}
    </update>

    <delete id="deleteShipper" parameterType="string">
        DELETE FROM SHIPPERS WHERE SHIPPER_ID = #{shipper_Id}
    </delete>

</mapper>