<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitcamp.web.mapper.SupplierMapper">

    <insert id="insertSupplier" parameterType="com.bitcamp.web.domain.SupplierDTO">
        insert into suppliers values(
            #{supplier_Id},
            #{supplier_Name},
            #{contact_Name},
            #{address},
            #{city},
            #{postal_Code},
            #{country},
            #{phone}
        )
    </insert>

    <select id="selectSuppliers" resultType="com.bitcamp.web.domain.SupplierDTO">
        SELECT * FROM SUPPLIERS
    </select>

    <select id="selectSuppliersByOption" parameterType="string" resultType="com.bitcamp.web.domain.SupplierDTO">
        SELECT * FROM SUPPLIERS WHERE SUPPLIER_NAME = #{supplier_Name}
    </select>

    <select id="selectSupplierBySupplierId" parameterType="string" resultType="com.bitcamp.web.domain.SupplierDTO">
        SELECT * FROM SUPPLIERS WHERE SUPPLIER_ID = #{supplier_Id}
    </select>

    <update id="updateSupplier" parameterType="com.bitcamp.web.domain.SupplierDTO">
        UPDATE SUPPLIERS SET
            SUPPLIER_NAME = #{supplier_Name},
            CONTACT_NAME = #{contact_Name},
            ADDRESS = #{address},
            CITY = #{city},
            POSTAL_CODE = #{postal_Code},
            COUNTRY = #{country},
            PHONE = #{phone}
        WHERE SUPPLIER_ID = #{supplierId}
    </update>

    <delete id="deleteSupplier" parameterType="string">
        DELETE FROM SUPPLIERS WHERE SUPPLIER_ID = #{supplier_Id}
    </delete>

</mapper>